body {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.calculator-container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    height: 550px;
    width: 375px;
    background-color: #000000;
    border: 5px solid #2F4F4F;
    border-radius: 25px;
    margin: auto;
    padding: 15px;
}

.number-display-container {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.number-on-screen {
    font-size: 60px;
    text-align: right;
    color: #FFFFFF;
    height: 75px;
    width: 96%;
    background-color: #000000;
    border-radius: 10px;
    border: none;
}

.number-pad-container {
    grid-row: 2 / 7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.pad-button {
    border-radius: 100px;
    font-size: 40px;
    color: #e6e6e6;
    background-color: #3c4043;
    cursor: pointer;
}

.ac-button {
    background-color: #9f9f9f;
}

.pad-button:active,
.pad-button:hover {
    color: #FFFFFF;
    background-color: #585858;
    cursor: pointer;
    transition: all .25s;
    transition-timing-function: ease-in;
}

.pad-button-color {
    border-radius: 10px;
    font-size: 40px;
    color: #e6e6e6;
    background-color: #f59906;
    cursor: pointer;
}

.pad-button-color:active,
.pad-button-color:hover {
    color: #FFFFFF;
    background-color: #ffffff;
    color: #f59906;
    transition: all .25s;
    transition-timing-function: ease-in;
}

#pad-button-equal-sign {
    grid-column: 4;
}